/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--white-color-00: #fff;
	--primary-color: #001449;
	--secondary-color: #005bc5;

	/* Font Family */
	--main-ff: 'Sigmar', serif;
	--text-ff: 'Rubik', serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;

	/* Font Size */
	--lg-fs: 1.1rem;
	--xxl-fs: 3.75rem;

	/* Linear Gradient */
	--film-lg: linear-gradient(
		to right,
		rgba(0, 0, 0, 0.95),
		rgba(0, 0, 0, 0.15)
	);

	/* Width */
	--container-mw: 1280px;
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
}

html,
body {
	scroll-behavior: smooth;
	color: var(--white-color-00);
}

body {
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
	font-weight: var(--medium-fw);
	transition: 0.36s ease-in-out;
}

ul {
	list-style: none;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--main-ff);
	font-weight: var(--normal-fw);
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.logo {
	opacity: 0.55;
}

.logo img {
	width: 70px;
}

.logo:hover {
	opacity: 1;
	transform: scale(1.05);
}

.btn {
	border: 2px solid var(--white-color-00);
	padding: 0.85rem 1.25rem;
	text-transform: capitalize;
	font-size: var(--lg-fs);
}

/***************** HOME *******************/
#home {
	background-image: var(--film-lg), url('../img/airplane.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

/***************** NAVBAR *******************/
.navbar-content {
	display: flex;
	justify-content: space-between;
	padding-block: 1.75rem;
}

.navbar-menu {
	display: flex;
	gap: 1.75rem;
	align-items: center;
}

.navbar-link {
	font-size: var(--lg-fs);
	font-weight: 400;
	text-transform: uppercase;
	border: 1px solid transparent;
	padding: 0.35rem 0.45rem;
	opacity: 0.65;
}

.navbar-link.active,
.navbar-link:hover {
	border-color: var(--white-color-00);
	opacity: 1;
}
/************** End of NAVBAR ***************/

/***************** CONTENT *******************/
#content {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

.content-title {
	font-size: var(--xxl-fs);
	text-transform: uppercase;
}

.content-buttons {
	display: flex;
	gap: 2rem;
}

.primary-btn {
	background-color: var(--primary-color);
}

.primary-btn:hover {
	background-color: var(--secondary-color);
}

.secondary-btn {
	background-color: var(--secondary-color);
}

.secondary-btn:hover {
	background-color: var(--primary-color);
}
/************** End of CONTENT ***************/

/************** End of HOME ***************/
